<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>Vue Boolzapp</title>
    </head>
    <body>
        <div id='root' class="background">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="screen">
                <div class="section_left">
                    <div class="section_left_up">
                        <div class="profile">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Avatar_poe84it.png" alt="avatar">
                            <span>Nome utente</span>
                        </div>
                        <div class="icons">
                            <a href="#">
                                <i class="fas fa-circle-notch"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>
                    </div>
                    <div class="section_notification"> 
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifications_text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#"> Attiva notifiche desktops </a>
                        </div>
                    </div>
                    <div class="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" name="search"> 
                    </div> 
                    <div class="conversations">
                        <div v-for="(item,index) in contacts" class="message" 
                        :class="{'active' : index == activeIndex}"
                        @click="activeContact(index)">
                            <div>
                                <img :src="getImage(index)" :alt="item.name">
                            </div>
                            <div class="contact">
                                <h4>{{ item.name }}</h4>
                                <div> {{ getLastMessageText(index) }} </div>
                            </div>
                            <div class="time">{{ getLastMessageData(index) }}</div>
                        </div>
                    </div>
                </div>
                <div class="section_right">
                    <div class="section_right_up">
                        <div class="actual_message">
                            <img :src="getImage(activeIndex)" :alt="getImage(activeIndex)">
                            <div class="info_contact">
                                <div>{{ getCurrentContactName() }}</div>
                                <span>Ultimo accesso oggi alle {{ getLastAccess() }}</span>
                            </div>
                        </div>
                        <div class="icons">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-paperclip"></i>     
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>
                    </div>
                    <div class="window">
                        <div v-for="message in selectedChat.messages">
                            <div class="chat_message" :class=" message.status"> 
                                {{ message.text }} 
                                <span> {{ message.date }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="new_message">
                        <a href="#"><i class="far fa-smile"></i></a>
                        <input type="text" v-model="newMessage" @keyup.enter="sendNewMessage" placeholder=" Scrivi un messaggio">
                        <a href="#"><i class="fas fa-microphone"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <script src="js/script.js"></script>
    </body>
</html>